In [1]:
import pandas as pd

### Calculate accuracy

In [4]:
file_path = '../../evaluation/eval_results/evaluation_metrics.csv'
df = pd.read_csv(file_path)

In [6]:
# Grouping by Model, Dataset, Language and calculating average accuracy based on prompts
average_accuracy_model_dataset_lang = df.groupby(['Model', 'Dataset Name', 'Lang'])['Accuracy'].mean()
average_accuracy_model_dataset_lang

Model                           Dataset Name  Lang
gpt-3.5-turbo                   v1_adapt      ind     64.556962
                                              sun     43.881857
                                v2_human      ind     79.394749
                                              sun     55.970647
gpt-4                           v1_adapt      ind     72.362869
                                              sun     54.430380
                                v2_human      ind     90.965732
                                              sun     71.180787
gpt-4-1106-preview              v1_adapt      ind     76.793249
                                              sun     65.822785
                                v2_human      ind     90.965732
                                              sun     81.365355
meta-llama/Llama-2-13b-chat-hf  v1_adapt      ind     50.000000
                                              sun     33.544304
                                v2_human      ind     50.578549
                                              sun     34.756504
meta-llama/Llama-2-7b-chat-hf   v1_adapt      ind     50.000000
                                              sun     30.590717
                                v2_human      ind     44.659546
                                              sun     34.800978
Name: Accuracy, dtype: float64

In [7]:
# Pivot the table to make the 'Lang' column horizontal
pivot_df = average_accuracy_model_dataset_lang.unstack(level='Lang')
pivot_df

Lang                                               ind        sun
Model                          Dataset Name
gpt-3.5-turbo                  v1_adapt      64.556962  43.881857
                               v2_human      79.394749  55.970647
gpt-4                          v1_adapt      72.362869  54.430380
                               v2_human      90.965732  71.180787
gpt-4-1106-preview             v1_adapt      76.793249  65.822785
                               v2_human      90.965732  81.365355
meta-llama/Llama-2-13b-chat-hf v1_adapt      50.000000  33.544304
                               v2_human      50.578549  34.756504
meta-llama/Llama-2-7b-chat-hf  v1_adapt      50.000000  30.590717
                               v2_human      44.659546  34.800978

In [8]:
pivot_df = pivot_df.reset_index()
pivot_df = pivot_df[['Dataset Name', 'Model', 'ind', 'sun']].sort_values(by='Dataset Name')
pivot_df

Lang Dataset Name                           Model        ind        sun
0        v1_adapt                   gpt-3.5-turbo  64.556962  43.881857
2        v1_adapt                           gpt-4  72.362869  54.430380
4        v1_adapt              gpt-4-1106-preview  76.793249  65.822785
6        v1_adapt  meta-llama/Llama-2-13b-chat-hf  50.000000  33.544304
8        v1_adapt   meta-llama/Llama-2-7b-chat-hf  50.000000  30.590717
1        v2_human                   gpt-3.5-turbo  79.394749  55.970647
3        v2_human                           gpt-4  90.965732  71.180787
5        v2_human              gpt-4-1106-preview  90.965732  81.365355
7        v2_human  meta-llama/Llama-2-13b-chat-hf  50.578549  34.756504
9        v2_human   meta-llama/Llama-2-7b-chat-hf  44.659546  34.800978